$sky-blue: #68a0fa;
$pale-olive-green: #90d26c;
$dark: #2a2d3b;
$bluey-grey: #9198af;
$light-yellowish-green: #dbff90;
$white-two: #ffffff;
$pale-lilac: #e4e7f4;
$white: #e1e1e1;
$very-light-pink: #fff3f2;
$salmon: #fa7268;
$cloudy-blue: #c0c3d2;

//z-index
$z-index-modal: 7;
$z-index-modal-content: 8;
$z-index-modal-overlay: 6;
